# CUDA-enabled PyTorch (CUDA 12.1 wheels)
--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision


numpy
pandas
pyarrow
pyyaml
tqdm
scikit-learn
gradio
transformers
pillow
optuna
peft
torchmetrics
